<footer id="footer">
  
  <div class="text-light bg-black shadow">
    <div class="row ms-5 me-5">

      <div class="col-lg-3 col-md-6">
        <div class="footer-info mt-3">
          <div class="logo">
            <a href="/"><img width="220" src="{{ url_for('static', filename='assets/img/logo/logo.jpeg') }}" alt="ClaudioLelis" class="img-fluid"></a>
          </div>
          <div class="mt-2">
            <div class="mb-2">
              <p>City, State, Brazil</p>
            </div>
            <div class="mt-3">
              <p>CODE 99999999/9999-00</p>
            </div>
            <p class="mt-3">
              <i class="fab fa-whatsapp"></i> +55 00 00000 0000
            </p>
            <div class="mt-3 text-white">
              <a href="mailto:lelistic@gmail.com" target="_blank" rel="noreferrer noopener" class="text-decoration-none text-reset">
                lelistic@gmail.com
              </a>
            </div>
            <div class="social-links mt-3 mb-3">
              <a href="#" class="twitter text-white text-decoration-none me-4"><i class="fab fa-twitter"></i></a>
              <a href="#" class="facebook text-white text-decoration-none me-4"><i class="fab fa-facebook"></i></a>
              <a href="#" class="youtube text-white text-decoration-none me-4"><i class="fab fa-youtube"></i></a>
              <a href="#" class="linkedin text-white text-decoration-none me-4"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 footer-links">
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
      </div>

      <div class="col-lg-4 col-md-6 footer-newsletter">
      </div>

    </div>
  </div>
  

  <div class=" bg-secondary">
    <div class="text-center text-white">
      &copy; Copyright <strong><span>Claudio Lelis</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>
