<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<meta name="description"
    content="FlaskSecureDemo developed by Claudio Lelis - Change this... ">
<meta name="robots" content="max-image-preview:large">
<meta name="author" content="claudiolelis">


<!-- Favicons -->
<link href="{{ url_for('static', filename='assets/img/logo/favicon1.ico') }}" rel="icon">

<!-- Google Fonts -->
<link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">