


<script>
    window.onload = function exampleFunction() {

        var preloader = document.querySelector(".spinner-wrapper");
        preloader.classList.add("opacity-0");
    }
    var elements_form = document.getElementsByTagName("form");
    Array.prototype.forEach.call(elements_form, function(el, i){
        el.onsubmit = function() {
            var preloader = document.querySelector(".spinner-wrapper");
            preloader.classList.remove("opacity-0");
        };
    });
</script>






<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
