{% extends "base.html" %}

{% block title%}
App
{% endblock title%}

{% block content %}

<main id="main">

    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <p class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert">{{message}}</p>
        {% else %}
        <p class="p-4 mt-2 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
            role="alert">{{message}}</p>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        FlaskSecureDemo - Claudio Lelis App
    </div>

</main>

{% endblock content %}